<% content_for(:title) { "Development Statusboard" } %>

<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 5
  });
</script>

<div class="gridster">
  <ul>
    <!-- First column -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sock_rpm_apdex" data-view="Meter" data-title="APDEX" data-min="0" data-max="1"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sock_rpm_throughput" data-view="Meter" data-title="Throughput" data-min="0" data-max="1000"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sock_rpm_response_time" data-view="Meter" data-title="Response time" data-min="0" data-max="1000"></div>
    </li>

    <!-- Second olumn -->

    <!-- Third column -->

    <!-- Fourth column -->

    <!-- Fifth column -->
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/openminds.png"></div>
    </li>
  </ul>
</div>
