<% content_for(:title) { "Development Statusboard" } %>

<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 5
  });
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/openminds.png"></div>
    </li>
  </ul>
</div>
